<div class="container">
	<h1 id="logo" class="jumbotron">UW Sfinder</h1>
	<form action="search" method="get" accept-charset="UTF-8">
		<input type="text" class="input-lg form-control" name="room_search" id="room_search" placeholder="Enter a room eg. MC 2066"></input>
	</form>
	<%= @room %>
</div>