<div id="main">	
	<h1 class="col-md-12" id="logo">UW Sfinder</h1>
	<form  id="search_bar" action="find" method="get" accept-charset="UTF-8">
		<input pattern="[ ]*[a-zA-Z]+[ ]*" type="text" class="input-lg form-control" name="building" id="text" placeholder="Enter a building eg. MC"></input>
	</form>
</div>
