<div class="container">
	<h1 id="logo" class="jumbotron">UW Sfinder</h1>
	<form action="find" method="get" accept-charset="UTF-8">
		<input type="text" class="input-lg form-control" name="text" id="text" placeholder="Enter a building eg. MC"></input>
	</form>
</div>