<nav class="navbar navbar-fixed-top">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-3">
				<%=link_to "UWS", root_path, class:'btn btn-primary', id:"logo"%>
			</div>
			<div class="col-xs-9">
				<%= form_tag('/find', method: 'get') do %>
					<%= text_field_tag(:building, nil, id:"search-form", class:"form-control", placeholder:"Enter a building eg. MC, PHY", autocomplete: 'off') %>
				<% end %>

			<div>
		</div>
	</div>
</nav>

