<header class="navbar navbar-fixed-top topbar row">
	<div class="row">
		<div style="background: #001f3f;" class="col-lg-2">
			<h1  id="logo">UW Sfinder</h1>
		</div>
		<div class="col-md-9" style="height:100%;">
			<%= form_tag('/find', method: 'get') do %>
				<%= text_field_tag(:building, nil, class:"form-control my-form", placeholder:"Enter a room or building eg. MC, PHY 145") %>
			<% end %>
		<div>
	</div>
</header>
