<!-- <h1 class="col-md-12"><%= link_to "UW Sfinder", root_path, id:"logo",class:'hvr-grow' %></h1> -->
<div id="main">	
	<form  id="search_bar" action="find" method="get" accept-charset="UTF-8">
		<input pattern="[ ]*[a-zA-Z]+[0-9]*[ ]*" type="text" class="input-lg form-control" name="building" id="text" placeholder="Enter a building eg. MC" ></input>
	</form>
</div>