<!-- <h1 class="col-md-12"><%= link_to "UW Sfinder", root_path, id:"logo",class:'hvr-grow' %></h1> -->
<nav id="topbar" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<%= link_to "UW Sfinder", root_path, id:"logo",class:"hvr-grow navbar-brand" %>
		<form  class="navbar-form navbar-left" id="search_bar" action="find" method="get" accept-charset="UTF-8">
			<input type="text" class="input-lg form-control" name="building" id="textbar"
				autocomplete="off" placeholder="Enter a room or building eg. MC, PHY 145">
			</input>
		</form>
	</div>
</nav>
