<header style="padding:10px;overflow:hidden;">
	<a id="about" data-toggle="collapse" data-target="#about_info">About</a>
	<p id="about_info" class="collapse">
		Enter a building from the UWaterloo campus that is used for lectures or tutorials and will 
		return a list of all rooms in that building that aren't currently holding a class.
		<br>
		Data is from the UW Open Data Api 
		<i>https://github.com/uWaterloo/api-documentation#accessing-the-api</i>
	</p>
</header>
