<header style="padding:10px;overflow:hidden;">
	<a id="author" data-toggle="collapse" data-target="#author_info">Author</a>
	<p id="author_info" class="collapse">
		Tenzin Dhundup<br>
		github.com/tensins
	</p>
</header>